/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
	box-sizing: border-box;
}

body {
	font-family: helvetica, arial, sans-serif;
	margin: 25px;
}

.hidden {
	display: none;
}

.toggleBoard::before {
	content: "Hide ";
}

/* The board is hidden by default on phones. */
@media only screen and (max-device-width : 640px) {
	#gameContainer {
		display: none;
	}

	.toggleBoard::before {
		content: "Show ";
	}
}

.toggleBoard.off::before {
	content: "Show ";
}

.toggleBoard.on::before {
	content: "Hide ";
}

.qrcode img {
	display: inline-block !important;
	vertical-align: middle;
	margin-left: 20px;
}

header h1 {
	display: inline-block;
}

.gameInfo {
	border-radius: 4px;
	background: #fff6db;
	float: right;
	margin: 10px;
	padding: 10px;
}

.playersList .submitted {
	font-weight: bold;
}

.toolbar {
	margin-bottom: 10px;
}

.cardChoice {
	cursor: pointer;
	position: relative;
	display: inline-block;
	border: 1px solid lightgray;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	margin: 0 2px;
	padding: 5px;
	padding-top: 11px;
	background: lightyellow;
	text-align: center;
	transition: margin 0.5s;
}

.cardChoice .icon-bolt {
	margin-right: 1px;
}

.cardChoice.selected {
	font-weight: bold;
	background: orange;
	top: -12px;
}

.collapsed .cardChoice {
	margin-right: -50px;
}

.collapsed .cardChoice:not(:last-of-type):hover {
	margin-right: -10px;
	transition-delay: 0.1s;
}

.cardChoice .collapsedIcon {
	position: absolute;
	left: 1px;
	top: 1px;
	font-size: x-small;
	opacity: 0;
	transition: opacity 0.5s;
}

.cardChoice .collapsedIcon span {
	display: block;
}

.collapsed .cardChoice .collapsedIcon {
	opacity: 1;
}

.cardChoice .movement, .cardChoice .priority {
	display: block;
}

.cardChoice .phaseOrder {
	position: absolute;
	font-weight: normal;
	font-size: x-small;
	right: 2px;
	top: 2px;
}

.cardContainer {
	display: inline-block;
	vertical-align: top;
}

.cardContainer .collapse {
	display: inline-block;
	transition: margin-left 0.5s;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 2px;
	margin-top: 15px;
	text-decoration: none;
	color: #297af9;
}
.cardContainer .collapse::after {
	content: "«";
}

.collapsed .collapse {
	margin-left: 52px;
}

.collapsed .collapse::after {
	content: "»";
}

.cardContainer > * {
	vertical-align: top;
}

.playerControls {
	margin: 15px 0 6px 0;
}

/* Found at http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ */
/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.speech-bubble {
	position: absolute;
	padding: 15px;
	margin: 1em 0 3em;
	border: 5px solid lightblue;
	color: #333;
	background: #fff;
	/* css3 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	min-width: 64px;
	text-align: center;
	max-width: 240px;
	transition: transform 0.5s;
	transform-origin: 35px 125%;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.speech-bubble:before {
	content: "";
	position: absolute;
	bottom: -20px; /* value = - border-top-width - border-bottom-width */
	left: 10px; /* controls horizontal position */
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: lightblue transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}

/* creates the smaller  triangle */
.speech-bubble:after {
	content: "";
	position: absolute;
	bottom: -13px; /* value = - border-top-width - border-bottom-width */
	left: 17px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width: 13px 13px 0;
	border-style: solid;
	border-color: #fff transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}

.scale0 {
	transform:scale(0);
}

/* ============================================================================================================================ */

input.chat {
	height: 30px;
	width: 100%;
	bottom: -30px;
	left: 0;
	background: black;
	opacity: 0.7;
	color: lime;
	position: fixed;
	padding: 0 10px;
	border: none;
	font-family: Consolas, monospace;
	transition: bottom 0.5s;
}

input.chat:focus {
	outline-color: lime;
}

.powerDownButton {
	width: 60px;
}

.powerDownButton path {
	cursor: pointer;
}