/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

.hidden {
  display: none;
}

.qrcode img {
  display: inline-block !important;
  vertical-align: middle;
  margin-left: 20px;
}

header h1 {
  display: inline-block;
}

.gameInfo {
  border-radius: 4px;
  background: #fff6db;
  float: right;
  margin: 10px;
  padding: 10px;
}